.formElements {
    position: relative;
    top: 50px;
    border: 1px solid orange;
    width: 600px;
    height: 600px;
    left: 400px;
}

.formElements label{
    display: inline-block;
    padding: 10px 15px;
    text-align: right;
}

.formElements input{
    display: inline-block; 
    text-align: center;  
}

